:root {
  --list-cell-avatar-animation-duration: 250ms;
  --list-cell-avatar-animation-easing: cubic-bezier(0.32, 1.72, 0, 1);
  --list-cell-hover-animation-duration: 250ms;
  --list-cell-hover-animation-easing: cubic-bezier(.165, .84, .44, 1);
  --list-cell-radio-animation-duration: 200ms;
  --list-cell-radio-animation-easing: cubic-bezier(0.32, 1.72, 0, 1);
  --list-cell-tap-animation-duration: 150ms;
  --list-cell-tap-animation-easing: cubic-bezier(.165, .84, .44, 1);
}
$LIST_CELL_AVATAR_ANIMATION_DURATION: var(--list-cell-avatar-animation-duration);
$LIST_CELL_AVATAR_ANIMATION_EASING: var(--list-cell-avatar-animation-easing);
$LIST_CELL_HOVER_ANIMATION_DURATION: var(--list-cell-hover-animation-duration);
$LIST_CELL_HOVER_ANIMATION_EASING: var(--list-cell-hover-animation-easing);
$LIST_CELL_RADIO_ANIMATION_DURATION: var(--list-cell-radio-animation-duration);
$LIST_CELL_RADIO_ANIMATION_EASING: var(--list-cell-radio-animation-easing);
$LIST_CELL_TAP_ANIMATION_DURATION: var(--list-cell-tap-animation-duration);
$LIST_CELL_TAP_ANIMATION_EASING: var(--list-cell-tap-animation-easing);
